.about{
    height: 650px;
    width: auto;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
    place-items: center;
    grid-gap: 1rem;
    background: linear-gradient(135deg, hsl(226, 24%, 22%), hwb(139 9% 76%));
}
.about .img-about{
    display: flex;
    position: relative;
}
.about .img-about img{
    display: flex;
    height: 300px;
    max-width: 300px;
    border-radius: 100%;
    box-shadow: 0 0 0 0.25rem #729091;
    background-color: lightcyan;
    margin-top: 50px;
    margin-left: 50px;
   
}
.about-content{
    display: grid;
    place-items: center;
    float: right;
    margin-left: 250px;
}

.about-content span{
    color: #fdfdfd;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: .5px;
    
}
.about-content p{
    color: navy;
    font-weight: bold;
    font-size: 30px;
}
.about-content h3{
    color: gray;
    /* font-weight: bold; */
    font-size: 20px;
    text-align: center;
    
}

.btn-box{
 display: grid;
}
.btn-box .btn{
    height: 35px;
    width: 100px;
    border: 1px solid pink;
    border-radius: 10%;
    padding: 5px 5px 10px 5px;
    background: aqua;
    font-weight: bold;
}
.btn-box .btn:hover{
    background: lightblue;
}